---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title ?? 'Soma Sugahara'}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Styles -->
    <link rel="stylesheet" href="/styles.css" />

    <!-- Favicon / PWA -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body id="top" class="ss-preload">
    <slot />
  </body>
</html>
